langchain==1.0.2
langchain-core==1.2.4
langchain-community==0.4.1
langchain_openai==1.0.1
langchain_ollama==1.0.0
langchain-tavily==0.2.12
langchain_experimental==0.3.1
langchain-huggingface==1.0.0
langchain-text-splitters==1.0.0
langgraph==1.0.1
pyppeteer==2.0.0
ragas==0.3.6
datasets>=4.2.0
networkx==3.4.2
openai==2.6.1
loguru==0.7.3

aiohttp == 3.12.15
fastmcp == 2.13.0
mcp == 1.23.0
requests==2.32.5
pymilvus==2.5.10
sentence-transformers>=4.1.0
pillow==11.3.0
python-dotenv==1.1.0
openpyxl>=3.1.0  # 用于 Excel 输出
pyyaml>=6.0.0 # 配置管理
pypdf>=3.0.0
pymysql==1.1.2
sqlalchemy>=2.0.43 # orm 框架
tqdm>=4.65.0  # 进度条显示

trustcall
yfinance>=0.2.65
typing_extensions>=4.15.0
tenacity>=9.1.2
psycopg2>=2.9.10
pandas==2.3.2
beautifulsoup4>=4.13.5
grpcio>=1.67.1
uvicorn>=0.35.0
pydantic>=2.11.9
yaml>=0.2.5
pyyaml>=6.0.2
nest-asyncio>=1.6.0
numpy==2.2.6
